<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Blog</title>
</head>
<body>
    <header>
        <h1><a href="/">Django Blog</a></h1>
    </header>
    
    <article>
        <time>published: 25.02.2025, 12:12</time>
        <h2><a href=" ">My first post</a></h2>
        <p>My name is Blog admin and i am here to write first blog</p>
    </article>

    <article>
        <time>published: 26.02.2025, 12:12</time>
        <h2><a href=" ">My second post</a></h2>
        <p>My name is Blog admin and i am here to write second blog</p>
    </article>
</body>
</html>